build/cov/coverage.php
build/logs/clover.xml
build/cov/coverage/build.dashboard.html
build/cov/coverage/build.html
build/cov/coverage/build_cov.dashboard.html
build/cov/coverage/build_cov.html
build/cov/coverage/build_cov_coverage.php.html
build/cov/coverage/controllers.dashboard.html
build/cov/coverage/controllers.html
build/cov/coverage/controllers_base_controller_plugin.php.html
build/cov/coverage/css/bootstrap-responsive.min.css
build/cov/coverage/css/bootstrap.min.css
build/cov/coverage/css/style.css
build/cov/coverage/helper.php.html
build/cov/coverage/helpers.dashboard.html
build/cov/coverage/helpers.html
build/cov/coverage/helpers_base_helpers.php.html
build/cov/coverage/img/glyphicons-halflings-white.png
build/cov/coverage/img/glyphicons-halflings.png
build/cov/coverage/index.dashboard.html
build/cov/coverage/index.html
build/cov/coverage/js/bootstrap.min.js
build/cov/coverage/js/highcharts.js
build/cov/coverage/js/html5shiv.js
build/cov/coverage/js/jquery.min.js
build/cov/coverage/models.dashboard.html
build/cov/coverage/models.html
build/cov/coverage/models_base_model.php.html
build/cov/coverage/models_base_model_cpt.php.html
build/cov/coverage/models_base_model_help_tab.php.html
build/cov/coverage/models_base_model_js_object.php.html
build/cov/coverage/models_base_model_metabox.php.html
build/cov/coverage/models_base_model_settings.php.html
build/cov/coverage/tests.dashboard.html
build/cov/coverage/tests.html
build/cov/coverage/tests_bootstrap.php.html
build/cov/coverage/tests_framework.dashboard.html
build/cov/coverage/tests_framework.html
build/cov/coverage/tests_framework_testcase.php.html
build/cov/coverage/tests_includes.dashboard.html
build/cov/coverage/tests_includes.html
build/cov/coverage/tests_includes_clover.php.html
build/cov/coverage/tests_includes_test_stub_cpt_model.php.html
build/cov/coverage/tests_includes_test_stub_plugin_controller.php.html
build/cov/coverage/tests_unit-tests.dashboard.html
build/cov/coverage/tests_unit-tests.html
build/cov/coverage/tests_unit-tests_test_base_controller_plugin.php.html
build/cov/coverage/tests_unit-tests_test_base_controller_plugin_properties.php.html
build/cov/coverage/tests_unit-tests_test_base_helpers.php.html
build/cov/coverage/tests_unit-tests_test_base_model.php.html
build/cov/coverage/tests_unit-tests_test_base_model_cpt.php.html
build/cov/coverage/tests_unit-tests_test_base_model_help_tab.php.html
build/cov/coverage/tests_unit-tests_test_base_model_js_object.php.html
build/cov/coverage/tests_unit-tests_test_base_model_metabox.php.html
build/cov/coverage/views.dashboard.html
build/cov/coverage/views.html
build/cov/coverage/views_base_options_page.php.html
build/cov/coverage/views_base_settings_section.php.html
