<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="WP MVC Base Test Suite">
			<directory suffix=".php">./tests/unit-tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">./tests/</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="coverage-php" target="build/cov/coverage.php"/>
	</logging>
</phpunit>
